* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.new-Goal__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 10px;
  text-align: left;
}

.new-Goal__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-Goal__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-Goal__actions {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 20px;
}
